
.chat-screen-container{
  display: flex;
  flex-direction: column;
}

.chat-screen-body{
  display: flex;
  flex-direction: row;
  height: 90vh;
  justify-content: center;
  margin-top: 10pt;
}

.chat-screen-messagebox{
  display: flex;
  flex-direction: column;
  width: 70vw;
}


.chat-screen-input{
  background: transparent;
    line-height: 38px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    color: #666;
    font-size: 15px;
    margin: 5pt;
    padding: 0 20px;
    width: 80%;
}

.chat-screen-btn{
  width: 100px;
	background: #3b67df;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
  margin: 10px 5px;
}








